.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #172a3a;
  color: #74b3ce;
  font-size: 10px;
  height: 100%;
}

a {
  color: #d5a021;
  text-decoration: none;
}
