.Container {
  display: flex;
  width: 100%;
}

.titleBox {
  border: solid 5px #3a539b;
  border-radius: 10px;
  flex: 1;
  background-color: #013243;
  color: #2c82c9;
  min-width: 33vw;
  /* height: 5vh; */
  font-size: 0.7rem;
  margin-bottom: 5px;
}

.titleBox > h1 {
  padding: 10px;
}

@media screen and (min-width: 303px) {
  .titleBox {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 690px) {
  .titleBox {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1199px) {
  .titleBox {
    font-size: 1.8rem;
  }
}
